@charset "UTF-8";
/**
 * style.css
 * @authors Qv (foru.fy@gmail.com)
 * @date    2015-03-08 21:34:41
 * @version 0.0.1
 */

/* default */
*{padding: 0px;margin: 0px;}
html,body,.app{width: 100%;height: 100%;font-family: "微软雅黑";}
/* general */
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
.hide{display: none;}

/* header */
.main-header {
	width: 100%;
	height: 260px;
}
.shading {
	background-image: url('../static/head-shading.png')
}
.depiction {
	width: 600px;
	height: 300px;
	margin: 0px auto;
	color: white;
	font-family: "微软雅黑";
	text-align: center;
}
.depiction h1 {
	font-size: 48px;
	padding-top: 50px;
	font-weight: lighter;
}
.depiction h2 {
	margin-top: 20px;
	font-weight: lighter;
}
.depiction h2 a {
	color: white;
}
/* main-content */
.main-content {
	width: 100%;
	height: 400px;
	margin-top: -40px;
	text-align: center;
}
.main-content .container {
	width: 600px;
	height: 360px;
	margin: 0px auto;	
	background-color: #fff;
    box-shadow: 1px 1px 4px 1px #999;
	border-radius: 6px;
    padding: 4px;
    /* 需要兼容 */
    transition: all 0.3s;
    -moz-transition: all 0.3s;	/* Firefox 4 */
    -webkit-transition: all 0.3s;	/* Safari 和 Chrome */
    -o-transition: all 0.3s;	/* Opera */
}
.main-content .container h3 {
	width: 100%;
	height: 120px;
	font-size: 16px;
	font-weight: lighter;
	text-align: center;
	line-height: 120px;
}
.main-content .container .upload {
	width: 140px;
	height: 140px;
	margin: 20px auto;
	border: 4px #333 dashed;
	line-height: 140px;
	cursor: pointer;
}

.main-content #workplace-image {
    margin: auto;
    /* 需要兼容 */
    transition: width 1s;
    -moz-transition: width 1s;	/* Firefox 4 */
    -webkit-transition: width 1s;	/* Safari 和 Chrome */
    -o-transition: width 1s;	/* Opera */
}

.main-content .container .upload img { 
	width: 80px;
	height: 80px;
 	vertical-align:middle;
}

.main-content .image-depiction {
	margin-top: 20px;
}

.main-content p {
	margin: 80px 0px 0px;
	color: #666;
}
.main-content p a {
	color: #666;
}

/*side-content*/
.side-content{
    position: fixed;
    top: 300px;
    right: 100px;
}
.side-content .toolbar{
    display: none;
    width: 80px;
    height: 80px;
    border: 4px #353535 dashed;
    /*border: 3px solid;dashed*/
    border-radius: 80px;
    text-align: center;
    line-height: 80px;
    cursor:pointer;
}
.side-content .toolbar:hover{
    border-radius: 80px;
    border: 4px #353535 solid;
}
.side-content .toolbar img {
    width: 80px;
    height: 80px;
    vertical-align:middle;
}






